

img {
  border: 10px;
  border-color: grey;
  border-style: ridge;
  border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
main {
  display: grid;
}

.work-tools {
  background-color: beige;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  position: relative;
}

.work-tools-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: 0.8s ease;
  font-size: 30px;
}

.work-tools:hover .work-tools-overlay {
  opacity: 1;}

.language {
  background-color: aquamarine;
  text-align: center;
}

.communication {
  background-color: cornsilk;
  text-align: center;
}

.dna{
    background-color: lightskyblue;
}

.dna > img {
  border: 10px solid red;
  border-radius: 50%;

}

.dna > img:hover {
  border-radius: 10px;
}


/* Image floating  */

/* .work-tools >img{
  float: right;

} */

.float1{
   background-color: lightgrey;
}

.float1 >a>img{
  float: right;
}

.float2{
  background-color: aliceblue;
}


.float2 >a>img{
  float: left;
}

